
# - Refs
#   - \href{https://jdhao.github.io/2019/12/22/ultisnips_avoid_content_update/}{Creating Markdown Front Matter with Ultisnips}

snippet datetime "ISO 8601" i
`!v strftime("%Y-%m-%dT%H:%M:%S")`
endsnippet

snippet dt "ISO 8601" i
`!v strftime("%Y-%m-%dT%H:%M:%S")`
endsnippet

snippet text "URL text=..."
:~:text=
endsnippet

